:root {
  --font-color: #333;
  --background-color: #eee;
  --icon-color: #0000ff;
}

[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #333;
  --icon-color: #0000ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: var(--font-color);
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
  text-align: center;
}

.note-app__body p {
  font-weight: normal;
  margin: 8px 0;
  text-align: center;
}

.note-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  color: var(--font-color);
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  display: block;
  text-align: center;
  color: var(--font-color);
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

.icon {
  background-color: var(--background-color);
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  font-size: 24px;
}

.logout-button {
  display: inline-block;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.logout-button:hover {
  color: #ff5f52;
}

.logout-button svg {
  margin-right: 4px;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: #fff;
  cursor: pointer;
}

.form-container button:hover {
  background-color: gray;
}

.form-container button:active {
  background-color: gray;
}
.login-page {
  text-align: center;
}
.register-page {
  text-align: center;
}
.not-found {
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
